USE [master]
GO
/****** Object:  Database [KFC]    Script Date: 3/19/2021 11:41:05 PM ******/
CREATE DATABASE [KFC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KFC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\KFC.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KFC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\KFC_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KFC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KFC]
GO
/****** Object:  Table [dbo].[ChiTietCB]    Script Date: 3/19/2021 11:41:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietCB](
	[MaMon] [varchar](10) NULL,
	[MaCB] [varchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHD]    Script Date: 3/19/2021 11:41:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHD](
	[MaCTHD] [varchar](10) NOT NULL,
	[MaNV] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCTHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Combo]    Script Date: 3/19/2021 11:41:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Combo](
	[MaCB] [varchar](10) NOT NULL,
	[TenCB] [nvarchar](40) NULL,
	[MaLoaiCB] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 3/19/2021 11:41:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [varchar](10) NOT NULL,
	[NgayGio] [datetime] NULL,
	[TienBan] [float] NULL,
	[TienGiam] [float] NULL,
	[TienTra] [float] NULL,
	[MaCTHD] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 3/19/2021 11:41:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [varchar](10) NOT NULL,
	[TenKH] [nvarchar](40) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[Sđt] [varchar](12) NULL,
	[Email] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiCB]    Script Date: 3/19/2021 11:41:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiCB](
	[MaLoaiCB] [varchar](10) NOT NULL,
	[TenLoaiCB] [nvarchar](40) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiCB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mon]    Script Date: 3/19/2021 11:41:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mon](
	[MaMon] [varchar](10) NOT NULL,
	[TenMon] [nvarchar](40) NULL,
	[MoTa] [nvarchar](100) NULL,
	[DonVi] [nvarchar](20) NULL,
	[Loai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 3/19/2021 11:41:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [varchar](10) NOT NULL,
	[HoTen] [nvarchar](40) NOT NULL,
	[Sđt] [varchar](12) NULL,
	[Email] [nvarchar](30) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[LuongCB] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuanLyMenu]    Script Date: 3/19/2021 11:41:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuanLyMenu](
	[MaMon] [varchar](10) NOT NULL,
	[Gia] [int] NULL,
	[GiamGia] [int] NULL,
	[TinhTrang] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChiTietCB] ([MaMon], [MaCB]) VALUES (N'BG01', N'CB01')
INSERT [dbo].[ChiTietCB] ([MaMon], [MaCB]) VALUES (N'NU01', N'CB01')
INSERT [dbo].[ChiTietCB] ([MaMon], [MaCB]) VALUES (N'GA01', N'CB01')
GO
INSERT [dbo].[Combo] ([MaCB], [TenCB], [MaLoaiCB]) VALUES (N'CB01', N'Combo gà siu cay siu to siu khổng lồ', N'1')
GO
INSERT [dbo].[LoaiCB] ([MaLoaiCB], [TenLoaiCB]) VALUES (N'1', N'Combo 1 người')
INSERT [dbo].[LoaiCB] ([MaLoaiCB], [TenLoaiCB]) VALUES (N'2', N'Combo nhiều người')
GO
INSERT [dbo].[Mon] ([MaMon], [TenMon], [MoTa], [DonVi], [Loai]) VALUES (N'BG01', N'Burger', N'1 Cái bo go', N'1', N'Món Ăn')
INSERT [dbo].[Mon] ([MaMon], [TenMon], [MoTa], [DonVi], [Loai]) VALUES (N'GA01', N'Gà Rán', N'1 Cánh gà giòn truy?n th?ng / cay / không cay', N'1', N'Cánh Gà')
INSERT [dbo].[Mon] ([MaMon], [TenMon], [MoTa], [DonVi], [Loai]) VALUES (N'NU01', N'Coca', N'1 ly coca', N'1', N'Đồ Uống')
GO
ALTER TABLE [dbo].[ChiTietCB]  WITH CHECK ADD FOREIGN KEY([MaCB])
REFERENCES [dbo].[Combo] ([MaCB])
GO
ALTER TABLE [dbo].[Combo]  WITH CHECK ADD FOREIGN KEY([MaLoaiCB])
REFERENCES [dbo].[LoaiCB] ([MaLoaiCB])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaCTHD])
REFERENCES [dbo].[ChiTietHD] ([MaCTHD])
GO
USE [master]
GO
